ul li {
  margin: 0;
  padding: 0;
  float: left;
  display: inline;
  text-align: center;
  border: 5px solid green;
  vertical-align: middle;
}

#welcome {
  border: 5px solid black;
  text-align: center;
  margin-top: 350px;
  font-size: 40px;
  font-family: impact;
}

span {
  text-decoration: underline;
  font-size: 25px;
}

body {
  background-image: url("http://www.dan-dare.org/Dan%20FRD/WackyRacesWallpaper1024.gif");
}

header, ul, li {
  background-color: white;
}

.animalName {
  font-size: 30px;
}

.winner {
  
}